* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  background-color: #3493d4;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  /* border-bottom: 2px solid rgb(218, 215, 215); */
  box-shadow: 4px 2px 8px rgb(186, 185, 185);
  z-index: 1;
}

.content {
  background-color: #e2e8f0;
}
