* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  background-color: #3493d4;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  /* border-bottom: 2px solid rgb(218, 215, 215); */
  box-shadow: 4px 2px 8px rgb(186, 185, 185);
  z-index: 1;
}

.content {
  background-color: #e2e8f0;
}

/* Sidebar Design */
.sidebar {
  display: grid;
  grid-template-rows: 80px 5fr;
  z-index: 2;
}

.sidebar > .title {
  background-color: rgb(163, 163, 163);
  grid-row: 1 / 2;
  font-size: 1.5rem;
}

.sidebar > .side-nav {
  grid-row: 2 / 6;
  display: grid;
  grid-template-rows: 250px 1fr;
}

.side-nav > .utility-nav {
  background-color: aqua;
  font-size: 1.2rem;
}

.utility-nav > p {
  margin-bottom: 10px;
}

.side-nav > .preferences-nav {
  background-color: rgb(187, 136, 136);
  font-size: 1.2rem;
}

.preferences-nav > p {
  margin-bottom: 10px;
}

/* Header design */

.main > .header {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding: 20px 30px 10px 30px;
}

.header > .header-up {
  background-color: azure;
}

.header > .header-down {
  background-color: beige;
}

.header-up {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
}

.header-down {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header-down .welcome {
  display: flex;
  background-color: brown;
  align-items: center;
  gap: 1.5rem;
}

.header-down > .welcome > .wel-logo {
  padding: 10px;
}

.header-down > .header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-content: center;
  margin: auto;
}

.header-down > .header-buttons > button {
  border: none;
  width: 80px;
  height: 35px;
  background-color: #3493d4;
  border-radius: 20px;
}

/* Content section */
.content {
  display: grid;
  padding: 20px;
  grid-template-columns: 3fr 1fr;
}

.content > .project-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content > .project-section > .cells {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.content > .project-section > .cells > .cell {
  background-color: white;
}

.announce-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 2rem;
  gap: 2rem;
}

.announce-section .announcement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announce-section .announcement > .container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
}

.announcement > .container > .section {
  border-bottom: 1px solid gray;
}

.announcement > .container > .section:last-child {
  border-bottom: none;
}

.announce-section > .trending {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending > .container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
}

.trending > .container > .section {
  border-bottom: 1px solid gray;
}

.trending > .container > .section:last-child {
  border-bottom: none;
}
